/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clear{
  clear: both;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.left-side-container{
  float: left;
  width: 250px;
}

.right-side-container{
  float: left;
  width: 550px;
}

.fill-left{
  margin-left: 250px;
}

header{
  background: #DBBB00;
}

.header__logo{
  float: left;
}

.header__navigation{
  float: left;
}

.header__search{
  float: right;
}

.pull-up-book-section{
  position: relative;
  top: -120px;
}